<h1>Create a new SUT</h1>

<%= form_for @sut, html: { class: "form-horizontal" } do |f| -%>
  <div class="control-group">
    <%= f.label :metamodel, class: "control-label" %>
    <div class="controls">
      <%= f.file_field :metamodel %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :transformation, class: "control-label" %>
    <div class="controls">
      <%= f.file_field :transformation %>
    </div>
  </div>
  
  <div class="control-group">
      <div class="controls">
        <%= f.submit class: "btn-primary" %>
      </div>
    </div>
<% end -%>
